.main {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 0.5%;
}

.product-price {
    font-size: 20px;
}

.product-discount {
    font-size: 18px;
}

.product-title {
    font-weight: bold;
    font-size: 25px;
}