

<ul class="nav nav-pills nav-stacked" style="background-color: white; 
border-radius: 3%;
box-shadow: 0 0 5px rgba(0,0,0,0.3);">
    <% @categories.each do |cat| %>
	    <li class="<%= is_active?(cat) %>"><%= link_to cat.title, cat %></li>
	<%end%>            

