<ul class="nav nav-pills nav-stacked">
    <li class=""><a href="/categories/1">Бауырсаки</a></li>
    <li class=""><a href="/categories/2">Пироги</a></li>
    <li class="active"><a href="/categories/3">Торты</a></li>   
    <li class=""><a href="/categories/4">Салаты</a></li>         
</ul>


<%#<ul class="nav nav-pills nav-stacked">
    <% @categories.each do |category| %>
    <%#<li class="">%>
         <%#<%= link_to user.title, category %>
    <%#</li>%>
  <%#<% end %>
<%#</ul>%>
