<ul class="nav nav-pills nav-stacked" style="background-color: white; 
border-radius: 3%;
box-shadow: 0 0 5px rgba(0,0,0,0.3);">
    <li class=""><a href="/categories/1">Бауырсаки</a></li>
    <li class=""><a href="/categories/5">Пироги</a></li>
    <li class="active"><a href="/categories/3">Торты</a></li>   
    <li class=""><a href="/categories/4">Салаты</a></li>   
    <li class=""><a href="/categories/6">Роллы</a></li>                   
</ul>


<%#<ul class="nav nav-pills nav-stacked">
    <% @categories.each do |category| %>
    <%#<li class="">%>
         <%#<%= link_to user.title, category %>
    <%#</li>%>
  <%#<% end %>
<%#</ul>%>
