<div class = "col-xs-12 col-md-4">
<ul class="nav nav-tabs nav-stacked" style = "background: #333;">
		<li><a href="#">Главная</a></li>
		<li><a href="#">Настройки</a></li>
		<li><a href="#">Написать автору</a></li>
</ul>
</div>